services:
  app:
    container_name: lanchonete-pagamentos
    build:
      context: .
      dockerfile: Dockerfile
      target: development-pagamentos
    volumes:
      - ./:/usr/src/app
    environment:
      PORT: 7003
      NODE_ENV: dev
      DATABASE_URL: mongodb+srv://user:<password>@pagamentos.djvoood.mongodb.net/pagamentos?retryWrites=true&w=majority&appName=pagamentos
      TOKEN_MERCADO_PAGO_DEV: TEST-3012597545599426-051414-ffccb6c232ef1ade75243761b1e67a39-73897475
      MICROSERVICO_OPERACAO_URL: http://localhost:7000
    ports:
      - 7003:7003
    # command: sh -c "npx prisma migrate deploy && npm run dev"
    command: sh -c "npm run dev"

  swagger-ui:
    image: swaggerapi/swagger-ui
    container_name: "swagger-ui-pagamentos"
    ports:
      - "8082:8080"
    volumes:
      - ./tooling/swagger/swagger.json:/openapi.json
    environment:
      SWAGGER_JSON: /openapi.json

networks:
    default:
        name: lanchonete-pagamentos-network
